<div>
  <h2>Angular Album</h2>
</div>
<div style="padding: 18px; background-color: #ffffff">
  <div class="row">
    <div *ngIf="!albums && !isLoading">
      <h3>Not found album !!</h3>
    </div>
    <div *ngFor="let album of albums | paginate: { itemsPerPage: perPage, currentPage: page }"
         class="col-lg-3 col-md-4 col-sm-6">
      <div class="gallery">
        <a target="_blank" href="{{ album.url }}">
          <img src="{{ album.url }}" alt="image-{{ album.id }}">
        </a>
        <div class="title">Photo ID {{ album.id }}</div>
        <div class="desc">Album {{ album.albumId }}  <br>{{ album.title }}</div>
        <div class="desc">
          <button (click)="onMoreDetail(album.albumId)"
                  class="btn btn-primary rounded-0">More Detail
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
